.cart {

	&_page__wrapper {
		margin-top: 60px;

		@media (min-width: 992px) {
			margin-top: 80px;
		}
	}

	&_product__element {

		> div.col {

			&:nth-child(2) {

				@media (min-width: 480.98px) {
					flex: 0 0 32%;
					max-width: 32%;
					width: 32%;
				}
			}

			&:nth-child(3) {
				flex: 0 0 30%;
        max-width: 30%;
        width: 30%;

				@media (min-width: 480.98px) {
					flex: 0 0 12%;
					max-width: 12%;
					width: 12%;
				}
			}

			&:nth-child(5) {
				flex: 0 0 36%;
        max-width: 36%;
        width: 36%;

				@media (min-width: 480.98px) {
					flex: 0 0 23%;
					max-width: 23%;
					width: 23%;
				}

				> p {

					@media (max-width: 480px) {
						display: flex;
						align-items: center;
						gap: 12px;
						padding: 0;
					}
				}

				.cart_product__element__total {
					@media (max-width: 480px) {
						flex: 1;
						text-align: start;
					}
				}

				.cart_product__element__remove {

					@media (max-width: 480px) {
						right: 0;
						top: 0;
						margin: 0;
					}
				}
			}
		}

		&__favorite {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #828282;
			background-color: transparent;
			border: none;
			position: absolute;
			right: 32px;
	
			@media (max-width: 480px) {
				position: relative;
				right: 0;
				top: 0;
			}
	
			&:is(:hover, :active, .active) {
				color: #FF161F;
				background-color: transparent;
	
				.icon {
	
					&:first-child {
						opacity: 0;
					}
	
					&:last-child {
						opacity: 1;
					}
				}
			}
	
			.icon {
				--_icon-size: 20px;
	
				transition-property: opacity;
				transition-duration: 300ms;
				transition-timing-function: ease-in-out;
	
				&:last-child {
					opacity: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}