.compare {
	
	.rubrics__mobile__wrapper {

		@media (max-width: 768px) {
			margin: 0;
		}
	}

	&-main {

		&.content__wrapper__mainpage {
			@media (max-width: 768px) {
				padding-top: 0;
			}
		}

		.products_catalog__wrapper__mainpage {
			margin-bottom: 40px;
			
			@media (min-width: 992px) {
				margin-bottom: 60px;
			}
		}
	}
}

.owl-carousel--compare {
	.owl-stage-outer {
		margin-inline: -15px;
		padding-inline: 15px;
	}

	.owl-item {

		&:not(:first-child) {

			.detail-product-title {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	.product__wrapper.product__wrapper__cols {
		max-width: 100%;
		margin: 0;

		.stock__wrapper {

			img {
				display: inline-block;
				margin: 0;
			}
		}
	}
}

.owl-pagination--compare {

	.icon {
		@media (min-width: 992px) {
			--_icon-size: 20px;
		}
	}
}