.icon {
	--_icon-size: 14px;
	--_icon-color: currentColor;
	
	width: var(--_icon-size);
	height: var(--_icon-size);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--_icon-color);

	@media (min-width: 992px) {
		--_icon-size: 16px;
	}

	svg {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		object-position: center;
	}
}