.product__wrapper {

	&--add {

		&::before {
			all: unset;
		}

		.btn-add {
			margin-top: 40px;
			margin-left: 12px;

			@media (min-width: 992px) {
				margin-top: 60px;
				margin-left: 15px;
			}
		}
	}

	&--removable.product__wrapper {
		margin-bottom: 0px;
	}

	&-remove {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		position: relative;
		z-index: 10;

		@media (min-width: 992px) {
			margin-top: 30px;
		}
	}
}

.detail-product,
.detail-product-item {
	display: grid;
}

.detail-product {
	line-height: 1.2;
	color: #000;
	gap: 25px;
	margin-top: 48px;

	@media (min-width: 992px) {
		margin-top: 60px;
	}
}

.detail-product {

	&-title {
		font-size: 14px;
		font-weight: 700;
		line-height: 1.2;

		&:not(.no-point) {
			padding-left: 4px;
			position: relative;

			&::before {
				content: '';
				width: 6px;
				height: 6px;
				display: inline-block;
				background-color: #ff161f;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				right: calc(100% + 5px);
				transform: translateY(-50%);
			}
		}
	}

	&-item {
		gap: 8px;
		border-right: 1px dashed #a0a0a0;
		padding-right: 10px;
	}
}