.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  .section-header {
    margin-bottom: 20px;
  }
}
.section-header h1,
.section-header .section-title {
  margin: 0;
}
.section-header .section-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}
@media (min-width: 992px) {
  .section-header .section-title {
    font-size: 34px;
  }
}
.section-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .section-filter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.section-filter .owl-pagination--compare {
  margin-inline: -15px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 12px 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .section-filter .owl-pagination--compare {
    margin-inline: 0;
    border-bottom: 0;
    border-top: 0;
    padding: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

.icon {
  --_icon-size: 14px;
  --_icon-color: currentColor;
  width: var(--_icon-size);
  height: var(--_icon-size);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--_icon-color);
}
@media (min-width: 992px) {
  .icon {
    --_icon-size: 16px;
  }
}
.icon svg {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.btn-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  background-color: #fff;
  border-color: #dee2e6;
}
@media (min-width: 992px) {
  .btn-white {
    font-size: 14px;
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .btn-white {
    padding: 8px 14px;
  }
}
.btn-white .icon {
  --_icon-color: #a0a0a0;
}
.btn-white .icon * {
  -webkit-transition: none;
  transition: none;
}
.btn-white:active {
  color: #fff;
  background-color: #ff161f;
  border-color: #ff161f;
}
.btn-white:active .icon {
  --_icon-color: inherit;
}
@media (hover: hover) {
  .btn-white:is(:hover, :focus-visible) {
    color: #fff;
    background-color: #ff161f;
    border-color: #ff161f;
  }
  .btn-white:is(:hover, :focus-visible) .icon {
    --_icon-color: #fff;
  }
}

.btn-outline-crimson {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  border: 2px solid #ff161f;
  -webkit-transition-property: color, background, border;
  transition-property: color, background, border;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@media (min-width: 992px) {
  .btn-outline-crimson {
    font-size: 16px;
  }
}
.btn-outline-crimson:is(:hover, :focus-visible, .active) {
  color: #fff;
  background-color: #ff161f;
}
.btn-outline-crimson .icon {
  --_icon-size: 20px;
}
.btn-outline-crimson .icon svg,
.btn-outline-crimson .icon svg * {
  -webkit-transition: none;
  transition: none;
}

.btn-add {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px;
}
@media (min-width: 992px) {
  .btn-add {
    width: 50px;
    height: 50px;
    padding: 12px;
  }
}
.btn-add .icon {
  --_icon-size: 100%;
}
.btn-add .icon svg,
.btn-add .icon svg * {
  -webkit-transition: none;
  transition: none;
}

.btn-plaintext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #A0A0A0;
  background-color: transparent;
  padding-inline: 10px;
}
@media (min-width: 992px) {
  .btn-plaintext {
    font-size: 14px;
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .btn-plaintext {
    padding: 0;
  }
}
.btn-plaintext .icon {
  --_icon-color: currentColor;
}
.btn-plaintext .icon * {
  -webkit-transition: none;
  transition: none;
}
.btn-plaintext:active {
  color: #ff161f;
  background-color: transparent;
}
@media (hover: hover) {
  .btn-plaintext:is(:hover, :focus-visible) {
    color: #ff161f;
    background-color: transparent;
  }
}

.btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #7f7f7f;
  background-color: transparent;
  border: 1px solid #E0E0E0;
  padding: 0;
}
.btn-icon .icon {
  --_icon-size: 20px;
}
.btn-icon .icon svg,
.btn-icon .icon svg * {
  -webkit-transition: none;
  transition: none;
}
.btn-icon:is(:active, .active) {
  color: #000;
  background-color: transparent;
  border-color: #E0E0E0;
}
@media (hover: hover) {
  .btn-icon:is(:hover, :focus-visible) {
    color: #000;
    background-color: transparent;
    border-color: #E0E0E0;
  }
}

@media (min-width: 992px) {
  .buttons-filter {
    max-width: 740px;
  }
}
@media (max-width: 992px) {
  .buttons-filter {
    margin-inline: -15px;
    padding-inline: 15px;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgb(0, 0, 0) 20px, rgb(0, 0, 0) calc(100% - 20px), rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgb(0, 0, 0) 20px, rgb(0, 0, 0) calc(100% - 20px), rgba(0, 0, 0, 0) 100%);
  }
}
.buttons-filter, .buttons-filter-srollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 6px;
}
@media (min-width: 992px) {
  .buttons-filter, .buttons-filter-srollable {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .buttons-filter-srollable {
    margin-inline: -15px;
    padding: 0 15px 4px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
@media (max-width: 992px) {
  .buttons-filter-srollable > .btn-plaintext {
    display: none;
  }
}
@media (min-width: 992px) {
  .buttons-filter > .btn-plaintext {
    display: none;
  }
}

.btn-credit,
.btn-buy,
.product-card__buttons,
.btn-product-card {
  margin-top: 15px;
}

.btn-credit,
.btn-buy,
.btn-product-card {
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.btn-menu-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 0;
}
.btn-menu-item:is(:hover, :active, .active) .span-container .icon:first-child {
  opacity: 0;
}
.btn-menu-item:is(:hover, :active, .active) .span-container .icon:last-child {
  opacity: 1;
}
.btn-menu-item .span-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.btn-menu-item .span-container .icon {
  --_icon-size: 28px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.btn-menu-item .span-container .icon:last-child {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.breadcrumbs__wrapper ul,
.breadcrumbs__wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.375rem;
}
.breadcrumbs__wrapper ul li::after {
  color: #828282;
  top: 0;
}
.breadcrumbs__wrapper ul li:first-child a {
  color: #000;
}
.breadcrumbs__wrapper ul li:last-child {
  color: #828282;
}

.owl-pagination--compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.owl-pagination--compare .prev,
.owl-pagination--compare .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 6px;
  background-color: transparent;
  color: #a0a0a0;
  border: none;
  cursor: pointer;
  -webkit-transition-property: color, background, border;
  transition-property: color, background, border;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@media (min-width: 992px) {
  .owl-pagination--compare .prev,
  .owl-pagination--compare .next {
    width: 3.125rem;
    height: 3.125rem;
    color: #FF161F;
    background-color: #fff;
    border: 1px solid #DEE2E6;
    padding: 10px;
  }
}
.owl-pagination--compare .prev:is(:hover, :focus-visible, .active),
.owl-pagination--compare .next:is(:hover, :focus-visible, .active) {
  color: #FF161F;
}
@media (min-width: 992px) {
  .owl-pagination--compare .prev:is(:hover, :focus-visible, .active),
  .owl-pagination--compare .next:is(:hover, :focus-visible, .active) {
    color: #fff;
    background-color: #FF161F;
    border-color: #FF161F;
  }
}
.owl-pagination--compare .prev[disabled], .owl-pagination--compare .prev[inert],
.owl-pagination--compare .next[disabled],
.owl-pagination--compare .next[inert] {
  opacity: 0.5;
  pointer-events: none;
}
.owl-pagination--compare .prev .icon,
.owl-pagination--compare .next .icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.owl-pagination--compare .prev .icon svg,
.owl-pagination--compare .prev .icon svg *,
.owl-pagination--compare .next .icon svg,
.owl-pagination--compare .next .icon svg * {
  -webkit-transition: none;
  transition: none;
}
@media (min-width: 992px) {
  .owl-pagination--compare .prev .text,
  .owl-pagination--compare .next .text {
    display: none;
  }
}
.owl-pagination--compare .counter {
  line-height: 1.5;
  color: #000;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-inline: 16px;
}
@media (min-width: 992px) {
  .owl-pagination--compare .counter {
    font-size: 16px;
  }
}

.compare h1 {
  margin-block: 0 15px;
}
@media (min-width: 992px) {
  .compare h1 {
    margin-block: 0 15px;
  }
}
@media (max-width: 768px) {
  .compare .rubrics__mobile__wrapper {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .compare-main.content__wrapper__mainpage {
    padding-top: 0;
  }
}
.compare-main .products_catalog__wrapper__mainpage {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .compare-main .products_catalog__wrapper__mainpage {
    margin-bottom: 60px;
  }
}

.owl-carousel--compare .owl-stage-outer {
  margin-inline: -15px;
  padding-inline: 15px;
}
@media (min-width: 992px) {
  .owl-carousel--compare .owl-item:not(:first-child) .detail-product-title {
    opacity: 0;
    visibility: hidden;
  }
}
.owl-carousel--compare .product__wrapper.product__wrapper__cols {
  max-width: 100%;
  margin: 0;
}
.owl-carousel--compare .product__wrapper.product__wrapper__cols .stock__wrapper img {
  display: inline-block;
  margin: 0;
}

@media (min-width: 992px) {
  .owl-pagination--compare .icon {
    --_icon-size: 20px;
  }
}

.favorite-filter {
  display: none;
}
@media (min-width: 768px) {
  .favorite-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
  }
}
.favorite-filter .btn-icon .icon {
  --_icon-size: 40px;
}
.favorite .section-header {
  margin-block: 15px 20px;
}
@media (min-width: 992px) {
  .favorite .section-header {
    margin-block: 30px;
  }
}
.favorite .cart_product__element {
  position: relative;
}
.favorite .cart_product__element__bag {
  color: #828282;
}
.favorite .cart_product__element__bag svg {
  width: 20px;
  height: 18px;
}
@media (min-width: 768px) {
  .favorite .cart_product__element__bag svg {
    width: 21px;
    height: 19px;
  }
}
.favorite .cart_product__element .custom_checkbox span {
  padding: 0;
}
.favorite .cart_product__element, .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary), .favorite .cart_product__element.cart_product__element__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  gap: 0 10px;
}
@media (min-width: 992px) {
  .favorite .cart_product__element, .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary), .favorite .cart_product__element.cart_product__element__headline {
    gap: 20px;
  }
}
.favorite .cart_product__element .col, .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col, .favorite .cart_product__element.cart_product__element__headline .col {
  padding: 0 !important;
}
.favorite .cart_product__element .col img, .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col img, .favorite .cart_product__element.cart_product__element__headline .col img {
  max-width: 100%;
  height: auto;
  display: block;
}
.favorite .cart_product__element .col .stock__wrapper, .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col .stock__wrapper, .favorite .cart_product__element.cart_product__element__headline .col .stock__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
.favorite .cart_product__element .col:first-child, .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:first-child, .favorite .cart_product__element.cart_product__element__headline .col:first-child {
  width: 20px;
  max-width: 20px;
  -ms-flex-preferred-size: 20px;
  flex-basis: 20px;
}
.favorite .cart_product__element .col:nth-child(2), .favorite .cart_product__element .col:nth-child(4), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(2), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(4), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(2), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(4) {
  width: 75px;
  max-width: 75px;
  -ms-flex-preferred-size: 75px;
  flex-basis: 75px;
  text-align: start;
}
@media (min-width: 768px) {
  .favorite .cart_product__element .col:nth-child(2), .favorite .cart_product__element .col:nth-child(4), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(2), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(4), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(2), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(4) {
    width: 85px;
    max-width: 85px;
    -ms-flex-preferred-size: 85px;
    flex-basis: 85px;
  }
}
.favorite .cart_product__element .col:nth-child(2), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(2), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(2) {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .favorite .cart_product__element .col:nth-child(2), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(2), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(2) {
    margin-right: 0;
  }
}
.favorite .cart_product__element .col:nth-child(3), .favorite .cart_product__element .col:nth-child(5), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(3), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(5), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(3), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(5) {
  width: initial;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.favorite .cart_product__element .col:nth-child(3) a, .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(3) a, .favorite .cart_product__element.cart_product__element__headline .col:nth-child(3) a {
  color: #0E0E0E;
}
.favorite .cart_product__element .col:nth-child(6), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(6), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(6) {
  width: 55px;
  max-width: 55px;
  -ms-flex-preferred-size: 55px;
  flex-basis: 55px;
}
.favorite .cart_product__element.cart_product__element__headline .col:nth-child(3) {
  display: block !important;
  text-align: start;
}
@media (max-width: 576px) {
  .favorite .cart_product__element.cart_product__element__headline .col:nth-child(4), .favorite .cart_product__element.cart_product__element__headline .col:nth-child(5) {
    display: none;
  }
}
@media (max-width: 576px) {
  .favorite .cart_product__element.cart_product__element__headline .col:nth-child(6) {
    display: none;
  }
}
@media (max-width: 576px) {
  .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(3), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(4), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(5) {
    max-width: calc(100% - 125px);
    width: calc(100% - 125px);
    -ms-flex-preferred-size: calc(100% - 125px);
    flex-basis: calc(100% - 125px);
    text-align: start;
  }
}
@media (max-width: 576px) {
  .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(4), .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(5) {
    margin-left: auto;
  }
}
@media (max-width: 576px) {
  .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(4) {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
}
@media (max-width: 576px) {
  .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(5) {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(5) p {
    margin: 0;
    padding: 0;
    text-align: start;
  }
}
.favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(6) {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(6) {
    max-width: 90px;
    width: 90px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-preferred-size: 90px;
    flex-basis: 90px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 10px;
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 1;
  }
}
.favorite .cart_product__element:not(.cart_product__element__headline):not(.cart_product__element__summary) .col:nth-child(6) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.favorite-aside {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .favorite-aside {
    background-color: #f1f4f7;
    border-radius: 2px;
    padding: 20px;
  }
}
@media (min-width: 992px) {
  .favorite-aside {
    padding: 30px;
    margin-bottom: 0;
  }
}
.favorite-aside-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin-bottom: 10px;
}
.favorite-aside-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #000;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .favorite-aside-text {
    margin-bottom: 30px;
  }
}
.favorite-aside-total {
  display: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .favorite-aside-total {
    display: block;
  }
}
.favorite-aside-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px 10px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .favorite-aside-actions {
    max-width: 230px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.favorite-aside-actions .custom_checkbox,
.favorite-aside-actions .btn-plaintext {
  font-size: 14px;
  padding: 0;
  color: #000;
}
@media (min-width: 768px) {
  .favorite-aside-actions .custom_checkbox,
  .favorite-aside-actions .btn-plaintext {
    color: #828282;
  }
}
.favorite-aside-actions .custom_checkbox .icon,
.favorite-aside-actions .btn-plaintext .icon {
  --_icon-color: #828282;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
@media (min-width: 768px) {
  .favorite-aside-actions .custom_checkbox .icon,
  .favorite-aside-actions .btn-plaintext .icon {
    --_icon-color: inherit;
  }
}
.favorite-aside-actions .custom_checkbox:active,
.favorite-aside-actions .btn-plaintext:active {
  color: #000;
  background-color: transparent;
}
.favorite-aside-actions .custom_checkbox:active .icon,
.favorite-aside-actions .btn-plaintext:active .icon {
  --_icon-color: #ff161f;
}
@media (hover: hover) {
  .favorite-aside-actions .custom_checkbox:is(:hover, :focus-visible),
  .favorite-aside-actions .btn-plaintext:is(:hover, :focus-visible) {
    color: #000;
    background-color: transparent;
  }
  .favorite-aside-actions .custom_checkbox:is(:hover, :focus-visible) .icon,
  .favorite-aside-actions .btn-plaintext:is(:hover, :focus-visible) .icon {
    --_icon-color: #ff161f;
  }
}
@media (min-width: 992px) {
  .favorite-aside-actions .custom_checkbox,
  .favorite-aside-actions .btn-plaintext {
    font-size: 12px;
  }
}
.favorite-aside-actions .custom_checkbox {
  width: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.favorite-aside-actions .custom_checkbox span {
  padding: 0;
}
.favorite-aside-actions .btn-plaintext {
  gap: 10px;
}
@media (min-width: 768px) {
  .favorite-aside-actions .btn-plaintext {
    gap: 5px;
  }
}
.favorite-aside-actions .btn-plaintext .icon {
  --_icon-size: 14px;
}
@media (min-width: 768px) {
  .favorite-aside-actions .btn-plaintext .icon {
    --_icon-size: 20px;
  }
}
.favorite-aside-actions .btn-bag .icon {
  --_icon-size: 24px;
}
@media (min-width: 768px) {
  .favorite-aside-actions .btn-bag .icon {
    --_icon-size: 20px;
  }
}
.favorite-aside-submit {
  width: 100%;
  display: none;
  min-height: 48px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .favorite-aside-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
  }
}
.favorite-aside-submit .icon {
  --_icon-size: 24px;
}
.favorite-aside .btn-link {
  color: #ff161f;
}
.favorite-aside .btn-link:hover {
  color: #CB0008;
  text-decoration: none;
}

.product__wrapper--add::before {
  all: unset;
}
.product__wrapper--add .btn-add {
  margin-top: 40px;
  margin-left: 12px;
}
@media (min-width: 992px) {
  .product__wrapper--add .btn-add {
    margin-top: 60px;
    margin-left: 15px;
  }
}
.product__wrapper--removable.product__wrapper {
  margin-bottom: 0px;
}
.product__wrapper-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: 10;
}
@media (min-width: 992px) {
  .product__wrapper-remove {
    margin-top: 30px;
  }
}

.product__wrapper__cols .product__info .buy__wrapper .counter__wrapper, .product-col .product__info .buy__wrapper .counter__wrapper {
  margin-top: 10px;
}

.product__wrapper__cols .buy__wrapper {
  min-height: 90px;
}

.product__wrapper .btn_add_to_cart {
  width: 100%;
  max-width: 136px;
  font-size: 12px;
  padding: 10px 16px;
}
@media (max-width: 375px) {
  .product__wrapper .btn_add_to_cart {
    max-width: 118px;
  }
}
.product__wrapper .btn_add_to_cart img {
  max-width: 16px;
}

.product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  padding: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.product__buttons .btn {
  border: none;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  pointer-events: auto;
  position: relative;
}
.product__buttons .btn:is(:hover, :active, .active) .icon:first-child {
  opacity: 0;
}
.product__buttons .btn:is(:hover, :active, .active) .icon:last-child {
  opacity: 1;
}
.product__buttons .btn .icon {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.product__buttons .btn .icon:last-child {
  opacity: 0;
  position: absolute;
  inset: 0;
}
.product__buttons-favorite {
  color: #FF161F;
}
.product__buttons-favorite:is(:hover, :active, .active) {
  color: #FF161F;
}
.product__buttons-compare {
  color: #828282;
}
.product__buttons-compare:is(:hover, :active, .active) {
  color: #828282;
}

.buy__wrapper .product__buttons {
  display: none;
  position: static;
}

@media (min-width: 768.98px) {
  .product-col-wide .product__buttons {
    display: none;
  }
}
@media (min-width: 768.98px) {
  .product-col-wide .product__info .buy__wrapper .btn_add_to_cart {
    margin-right: 10px;
  }
}
@media (min-width: 768.98px) {
  .product-col-wide .product__info .buy__wrapper .counter__wrapper {
    margin: 0 20px 0 0;
  }
}
.product-col-wide .product__info .buy__wrapper .product__buttons {
  display: none;
}
@media (min-width: 768.98px) {
  .product-col-wide .product__info .buy__wrapper .product__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    padding: 0;
  }
}
@media (min-width: 768.98px) {
  .product-col-wide .product__info .buy__wrapper .product__buttons .btn .icon {
    --_icon-size: 28px;
  }
}
.product-col-wide .product__info .buy__wrapper .product__actions_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  margin-left: 30px;
}
.product-col-wide .product__info .buy__wrapper .product__actions_btn .icon {
  --_icon-size: 28px;
  width: var(--_icon-size);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-col-wide .product__info .buy__wrapper .product__actions_btn .icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

.product-card__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768.98px) {
  .product-card__buttons {
    max-width: 216px;
  }
}
.product-card__buttons .btn {
  min-height: 50px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  padding: 8px 12px;
  position: relative;
}
.product-card__buttons .btn:is(:hover, :active, .active) .icon:first-child {
  opacity: 0;
}
.product-card__buttons .btn:is(:hover, :active, .active) .icon:last-child {
  opacity: 1;
}
.product-card__buttons .btn .icon {
  --_icon-size: 24px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.product-card__buttons .btn .icon:last-child {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-card__favorite {
  color: #FF161F;
  border: 2px solid #FF161F;
}
.product-card__favorite:is(:hover, :active, .active) {
  color: #FF161F;
  border: 2px solid #FF161F;
}

.product-card__compare {
  color: #828282;
  border: 2px solid #bdbdbd;
}
.product-card__compare:is(:hover, :active, .active) {
  color: #828282;
  border: 2px solid #bdbdbd;
}

.product-card--order .product-card__price-title-gray,
.product-card--order .product-card__price-main-cost,
.product-card--order .product-card__price-title,
.product-card--order .product-card__price-card-cost,
.product-card--order .product-card__price-title,
.product-card--order .product-card__price-sc-cost {
  color: #A0A0A0;
}

.product-card-link .icon {
  --_icon-size: initial;
}

.counter__wrapper {
  max-height: 50px;
}
.counter__wrapper a {
  padding: 10px 5px;
}

.detail-product,
.detail-product-item {
  display: -ms-grid;
  display: grid;
}

.detail-product {
  line-height: 1.2;
  color: #000;
  gap: 25px;
  margin-top: 48px;
}
@media (min-width: 992px) {
  .detail-product {
    margin-top: 60px;
  }
}

.detail-product-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}
.detail-product-title:not(.no-point) {
  padding-left: 4px;
  position: relative;
}
.detail-product-title:not(.no-point)::before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #ff161f;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.detail-product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}
.detail-product-item > * {
  padding-right: 10px;
}
.detail-product-item span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px dashed #a0a0a0;
}

.product_page__wrapper.content__wrapper.product_page__see_also__wrapper {
  display: block !important;
  padding-block: 30px;
}
@media (min-width: 992px) {
  .product_page__wrapper.content__wrapper.product_page__see_also__wrapper {
    padding-block: 60px;
  }
}

.content__wrapper__headline__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .content__wrapper__headline__container {
    margin-bottom: 30px;
  }
}
.content__wrapper__headline__container .content__wrapper__headline {
  margin: 0;
}

.owl-carousel--recommended .owl-carousel-navigation,
.owl-carousel--catalog .owl-carousel-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .owl-carousel--recommended .owl-carousel-navigation,
  .owl-carousel--catalog .owl-carousel-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.owl-carousel--recommended .owl-stage-outer,
.owl-carousel--catalog .owl-stage-outer {
  margin-inline: -15px;
  padding-inline: 15px;
}
@media (min-width: 1200px) {
  .owl-carousel--recommended .owl-stage-outer,
  .owl-carousel--catalog .owl-stage-outer {
    margin-inline: 0;
    padding-inline: 0;
  }
}
.owl-carousel--recommended .owl-item .product__wrapper.product__wrapper__cols,
.owl-carousel--catalog .owl-item .product__wrapper.product__wrapper__cols {
  max-width: 100% !important;
  min-width: 100% !important;
  margin: 0 !important;
}
.owl-carousel--recommended .owl-dots,
.owl-carousel--catalog .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .owl-carousel--recommended .owl-dots,
  .owl-carousel--catalog .owl-dots {
    display: none;
  }
}
.owl-carousel--recommended button.owl-dot,
.owl-carousel--catalog button.owl-dot {
  width: 10px;
  height: 10px;
  background-color: #e4e4e4;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.owl-carousel--recommended button.owl-dot.active,
.owl-carousel--catalog button.owl-dot.active {
  background-color: #ff161f;
}

@media (min-width: 768.98px) {
  .owl-carousel--catalog .owl-stage-outer {
    margin-inline: 0;
    padding-inline: 0;
  }
}

.owl-carousel-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.owl-carousel-navigation .owl-prev,
.owl-carousel-navigation .owl-next {
  min-width: 32px;
  min-height: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FF161F;
  background-color: #fff;
  border: 1px solid #DEE2E6;
  cursor: pointer;
  -webkit-transition-property: color, background, border;
  transition-property: color, background, border;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.owl-carousel-navigation .owl-prev:is(:hover, :active),
.owl-carousel-navigation .owl-next:is(:hover, :active) {
  color: #fff;
  background-color: #FF161F;
  border-color: #FF161F;
}
.owl-carousel-navigation .owl-prev.disabled,
.owl-carousel-navigation .owl-next.disabled {
  color: #FF161F;
  background-color: #fff;
  border: 1px solid #DEE2E6;
  cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}
.owl-carousel-navigation .owl-prev .icon *,
.owl-carousel-navigation .owl-next .icon * {
  -webkit-transition: none;
  transition: none;
}

.cart_page__wrapper {
  margin-top: 60px;
}
@media (min-width: 992px) {
  .cart_page__wrapper {
    margin-top: 80px;
  }
}
@media (min-width: 480.98px) {
  .cart_product__element > div.col:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
    width: 32%;
  }
}
.cart_product__element > div.col:nth-child(3) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  width: 30%;
}
@media (min-width: 480.98px) {
  .cart_product__element > div.col:nth-child(3) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    max-width: 12%;
    width: 12%;
  }
}
.cart_product__element > div.col:nth-child(5) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36%;
  flex: 0 0 36%;
  max-width: 36%;
  width: 36%;
}
@media (min-width: 480.98px) {
  .cart_product__element > div.col:nth-child(5) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    width: 23%;
  }
}
@media (max-width: 480px) {
  .cart_product__element > div.col:nth-child(5) > p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
    padding: 0;
  }
}
@media (max-width: 480px) {
  .cart_product__element > div.col:nth-child(5) .cart_product__element__total {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: start;
  }
}
@media (max-width: 480px) {
  .cart_product__element > div.col:nth-child(5) .cart_product__element__remove {
    right: 0;
    top: 0;
    margin: 0;
  }
}
.cart_product__element__favorite {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #828282;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 32px;
}
@media (max-width: 480px) {
  .cart_product__element__favorite {
    position: relative;
    right: 0;
    top: 0;
  }
}
.cart_product__element__favorite:is(:hover, :active, .active) {
  color: #FF161F;
  background-color: transparent;
}
.cart_product__element__favorite:is(:hover, :active, .active) .icon:first-child {
  opacity: 0;
}
.cart_product__element__favorite:is(:hover, :active, .active) .icon:last-child {
  opacity: 1;
}
.cart_product__element__favorite .icon {
  --_icon-size: 20px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.cart_product__element__favorite .icon:last-child {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 824px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 824px) {
  .mobile-menu_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.mobile-menu_menu-nav--bottom {
  margin-top: auto;
}

.text-primary {
  color: #ED1C24 !important;
}

.footer__compare, .footer__favorite {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  background-color: transparent;
  margin-right: 10px;
  border: none;
  padding: 0;
}
@media (min-width: 825px) {
  .footer__compare, .footer__favorite {
    gap: 10px;
    margin-right: 20px;
  }
}
.footer__compare:is(:hover, :active, .active), .footer__favorite:is(:hover, :active, .active) {
  color: #fff;
  background-color: transparent;
}
.footer__compare:is(:hover, :active, .active) .icon:first-child, .footer__favorite:is(:hover, :active, .active) .icon:first-child {
  opacity: 0;
}
.footer__compare:is(:hover, :active, .active) .icon:last-child, .footer__favorite:is(:hover, :active, .active) .icon:last-child {
  opacity: 1;
}
.footer__compare .icon-container, .footer__favorite .icon-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.footer__compare .icon, .footer__favorite .icon {
  --_icon-size: 24px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.footer__compare .icon:last-child, .footer__favorite .icon:last-child {
  opacity: 0;
  position: absolute;
  inset: 0;
}
.footer__compare .content, .footer__favorite .content {
  display: none;
}
@media (min-width: 825px) {
  .footer__compare .content, .footer__favorite .content {
    display: block;
  }
}
.footer__compare .quantity, .footer__favorite .quantity {
  min-width: 32px;
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ff161f;
  border-radius: 50%;
  padding: 4px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  text-align: center;
}
.footer__compare {
  display: none;
}
@media (min-width: 825px) {
  .footer__compare {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media (min-width: 825px) {
  .footer__favorite .icon {
    display: none;
  }
}