<script src="https://red-price63.ru/static/assets/js/jquery-3.3.1.min.js"></script>
<script src="https://red-price63.ru/static/assets/libs/OwlCarousel2/owl.carousel.min.js"></script>
<script src="https://red-price63.ru/static/assets/libs/fancybox3/dist/jquery.fancybox.min.js"></script>
<script src="https://red-price63.ru/static/assets/js/jquery.waypoints.min.js"></script>
<script src="https://red-price63.ru/static/assets/js/jquery.waypoints.min.js"></script>
<script src="https://red-price63.ru/static/assets/js/jquery.waypoints.min.js"></script>
<script async="" src="https://red-price63.ru/static/CACHE/js/output.5395677beb61.js"></script>
<script src="https://red-price63.ru/static/CACHE/js/output.e8f7a9549df5.js"></script>
<script src="https://red-price63.ru/static/marketplace/marketplace_base.js?v4"></script>